<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Bienvenido {{ userProfile?.name }} ! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="party-dates">
    <ion-card *ngFor="let party of parties">
      <ion-card-header>
        <ion-card-title>{{ party.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>{{ party.date | date: 'dd/MM/yyyy' }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>{{ party.place }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-button
            [ngClass]="{'selected-button': partySelected === party, 'unselected-button': partySelected !== party}"
            expand="full"
            fill="clear"
            (click)="selectParty(party)"
          >
            {{partySelected === party ? 'Seleccionado' : 'Seleccionar'}}
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="rrpp-list" *ngIf="isAPartySelected == true">
    <!-- Lista de rrpps -->
    <ion-card
      class="rrpp-card"
      *ngFor="let rrpp of rrpps"
      lines="none"
      (click)="selectRrpp(rrpp)"
    >
      <ion-card-header>
        <ion-card-title>{{ rrpp.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
