<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de {{ rrpp?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="client-list">
    <!-- Barra de búsqueda -->
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterClients()"
      placeholder="Busca aquí..."
    ></ion-searchbar>

    <!-- Lista de clientes -->
    <ion-list>
      <ion-item *ngFor="let client of filteredClients" lines="none">
        <div class="client-div">
          <div class="client-info">
            <span class="client-name"> {{ client.name }} </span>
            <span> - Invitados: {{ client.guests }}</span>
            <span> - Confirmados: {{ client.guests_confirmed }} </span>
          </div>
          <div class="div-buttons">
            <ion-button fill="clear" (click)="confirmGuests(client)" [disabled]="client.guests_confirmed === client.guests">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="openEditClientAlert(client)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-item>
      <p *ngIf="clients.length === 0">Este RRPP aún no tiene clientes añadidos</p>
    </ion-list>

    
  </div>
</ion-content>
