<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input label="Correo electrónico" labelPlacement="stacked" color="primary" [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" labelPlacement="stacked" color="primary" [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
</ion-content>
