<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menú lateral -->
    <ion-menu contentId="main-content">
      <ion-header class="ion-no-border">
        <ion-toolbar>          
          <ion-title>ESTOYENLISTA</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngIf="role == 'rrpp'">
          <ion-item (click)="navigateTo('home')">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('profile')">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
          <!-- Agrega más elementos según tus páginas -->
        </ion-list>
        
        <ion-list *ngIf="role == 'adminrrpp'">
          <ion-item (click)="navigateTo('home-admin')">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('all-clients')">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Ver todos los clientes</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('profile')">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>          
          <!-- Agrega más elementos según tus páginas -->
        </ion-list>
      </ion-content>
    </ion-menu>    

    <!-- Contenido principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
